html {
	font-size: 62.5%;
}
body {
	background: #efefef;
	font: normal 1.6em Helvetica, Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	position: relative;
}

div.ad {
	width: 100%;
}
main {
	width: 100%;
	background: #fafafa;
}
.main {
	width: 80%;
	margin: 0 auto;
}

textarea {
	width: 100%;
}

div.progressContainer{
	margin-top: 10px;
	position: relative;
	height: 26px;
}
#progress {
	position: absolute;
	z-index: 2;
	height:100%;
	width:100%;
	top: -13px;
	text-align: center;
}
#container {
	position: absolute;
	z-index: 1;
	width:100%;
	height:100%;
}
.modal {
	display: none;
	position: absolute;
	text-align: center;
	padding: 5px;
	margin: auto;
	width: 90%;
	top: 10%;
	bottom: 10%;
	left: 0;
	right: 0;
	z-index: 2;
}
.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 120%;
	background-color: #000000;
	opacity: 0.65;
	top: 0;
	left: 0;
	z-index: 1;
}
.ldBar {
	width: 30%!important;
	height: 30%!important;
	margin: auto;
}
.ldBar-label {
    color: #09f;
    font-family: 'varela round';
    font-size: 2.5em;
    font-weight: 900;
}
.ldBar path.mainline {
    stroke-width: 10;
    stroke: #09f;
    stroke-linecap: round;
}
.ldBar path.baseline {
    stroke-width: 14;
    stroke: #f1f2f3;
    stroke-linecap: round;
    filter:url(#custom-shadow);
}
#remainTime {
	color: #09f;
    font-size: 2.5em;
}